@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

.nav-extended {
    background-color: #3C455C;
    padding: 24px;
    font-family: 'Quicksand', sans-serif;
}

.sidenav {
    background-color: #3C455C;
    color: #9AACB8;
    font-family: 'Quicksand', sans-serif;
}

.brand-logo {
    padding-right: 5px;
    font-family: 'Quicksand', sans-serif;
}

.introduction-section {
    background-color: #9AACB8;
    padding: 24px;
    font-family: 'Quicksand', sans-serif;
}

.introduction-text {
    color: #3C455C;
    line-height: 3;
    font-family: 'Quicksand', sans-serif;
}

.card-panel {
    background-color: #9AACB8;
}

.card {
    background-color: #3C455C;
    color: #9AACB8;
    font-family: 'Quicksand', sans-serif;
}

.btn-large {
    background-color: #3C455C;
    color: #9AACB8;
}

.collapsible-header {
    background-color: #9AACB8;
    color: #3C455C;
    font-family: 'Quicksand', sans-serif;
}

.collapsible-body {
    background-color: #9AACB8;
    color: #3C455C;
    font-family: 'Quicksand', sans-serif;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
    color: #3C455C;  
}


/* I took this css from materialise to edit colours and style*/
/* label color */
.input-field label {
    color: #3C455C;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
    color: #3C455C;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
   /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #3C455C;
    box-shadow: 0 1px 0 0 #3C455C;
}
   /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #3C455C;
    box-shadow: 0 1px 0 0 #3C455C;
}
   /* icon prefix focus color */
.input-field .prefix.active {
    color: #3C455C;
}

/* css from mini-project*/
.btn-small {
    margin: 5px;
    background-color: #3C455C;
    color: #9AACB8;
    font-family: 'Quicksand', sans-serif;
}


