.nav-extended {
    background-color: #3C455C;
}
body {
    scroll-behavior: smooth;
}


.sidenav {
    background-color: #3C455C;
}

.introduction-text {
    color: #3C455C;
}

.introduction-section {
    background-color: #9AACB8;
}

.card-panel {
    background-color: #9AACB8;
}

.btn-large {
    background-color: #3C455C;
    color: #9AACB8;
}

/* I took this css from materialise to edit colours and style*/
/* label color */
.input-field label {
    color: #3C455C;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
    color: #3C455C;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
   /* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #3C455C;
    box-shadow: 0 1px 0 0 #3C455C;
}
   /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #3C455C;
    box-shadow: 0 1px 0 0 #3C455C;
}
   /* icon prefix focus color */
.input-field .prefix.active {
    color: #3C455C;
}

/* css from mini-project*/
.btn-small {
    margin: 5px;
    background-color: #3C455C;
    color: #9AACB8;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
    color: #3C455C;  
}
