{% extends "index.html" %}
{% block content %}

    <h3 class="center-align">Add Idea</h3>


    <div class="row card-panel">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input id="idea_name" name="idea_name" minlength="5" maxlength="50" 
                    type="text" class="validate" required>
                    <label for="idea_name">Idea Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="idea_description" name="idea_description" minlength="5" 
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="idea_description">Idea Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="idea_date" name="idea_date" 
                    type="text" class="datepicker validate" required>
                    <label for="idea_date">Idea Date</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}