{% extends "index.html" %}
{% block content %}

    <h3 class="center-align">All Ideas</h3>

    <ul class="collapsible">
        {% for idea in ideas %}
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>
                <div class="col s3">
                    {% if session.user|lower == idea.created_by|lower %}
                    <a href="" class="btn-small">Done</a>
                    <a href="{{ url_for('edit_idea', idea_id=idea._id)}}" class="btn-small">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ idea.category_name }}</strong> : {{ idea.date }}
                </div>
            </div>
            <div class="collapsible-body"><strong>{{ idea.category_name }}</strong>
                <p>{{ idea.idea_description }}<br></p>
                <p><em>by: {{ idea.created_by}}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}