{% extends "index.html" %}
{% block content %}


    {% for idea in ideas %}
        {{ idea.category_name }}<br>
        {{ idea.idea_name }}<br>       
        {{ idea.idea_description }}<br>
        {{ idea.date }}<br>
    {% endfor %}

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}