{% extends "index.html" %}
{% block content %}


    {% for idea in ideas %}
        {{ idea.category_name }}<br>
        {{ idea.idea_name }}<br>       
        {{ idea.idea_description }}<br>
        {{ idea.date }}<br>
    {% endfor %}

    <ul class="collapsible popout">
        {% for idea in ideas %}
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>
            <strong>{{ idea.category_name }}</strong> : {{ idea.date }}
            </div>
            <div class="collapsible-body"><strong>{{ idea.category_name }}</strong>
            <p>{{ idea.idea_description }}<br></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}