<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>I.Generator</title>
</head>
<body>

    <header>
<!--main navigation taken from materialise-->
        <nav class="nav-extended text-shadow">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_ideas') }}" class="brand-logo">I.Generator</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_ideas') }}">Introduction</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="#">New Idea</a></li>
                    <li><a href="#">Manage Categories</a></li>
                </ul>
            </div>
        </nav>
<!--sidenav for monile taken from materialise-->
                <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align">I.Generator</h4></li>
                    <li><a href="{{ url_for('register') }}">Introduction</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="V">Register</a></li>
                    <li><a href="#">New Idea</a></li>
                    <li><a href="#">Manage Categories</a></li>
                </ul>

    </header>

    <section class="introduction-section">
        <div class="row">
            <div class="center-align col-12">
                <h3 class="introduction-text">INTRODUCTION</h3>
                <h6 class="center-align introduction-text">“Ideas are like fish. You don’t make the fish, you catch the fish.” — David
                    Lynch.<br>
                    The biggest challenge on the way to creativity is ussually the ideas and<br>
                    one having an image of genious producing ideas from a thin air.<br>
                    But here is a place to find ideas, negotiate collaborations, get inspired,<br>
                    share your dreams or whatever you have on a wonderful mind.</h6>
            </div>
        </div>
    </section>
    {% block content %}
    {% endblock %}


    <!--username password and submit button taken from materialise and adjusted like in miniproject-->
    <h3 class="center-align">Register</h3>

    <div class="row center-align">
        <form class="col-8 center-align" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button type="submit" class="col s12 btn-large">Register </button>
                </div>
            </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}  
</body>
</html>