<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>I.Generator</title>
</head>
<body>

    <header>
<!--main navigation taken from materialise-->
        <nav class="nav-extended text-shadow">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_ideas') }}" class="brand-logo">I.Generator</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_ideas') }}">Introduction</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_idea') }}">New Idea</a></li>
                         {% if session_user|lower == "Admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                         {% endif %}
                        <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signin') }}">Sign In</a></li>   
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
<!--sidenav for monile taken from materialise-->
                <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align">I.Generator</h4></li>
                    <li><a href="{{ url_for('get_ideas') }}">Introduction</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_idea') }}">New Idea</a></li>
                        {% if session_user|lower == "Admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signin') }}">Sign In</a></li>   
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>

    </header>

    <section>
        <!-- flash messages taken from mini project -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <section class="introduction-section">
        <div class="row">
            <div class="center-align col-12">
                <h3 class="introduction-text">INTRODUCTION</h3>
                <h6 class="center-align introduction-text">“Ideas are like fish. You don’t make the fish, you catch the fish.” — David
                    Lynch.<br>
                    The biggest challenge on the way to creativity is ussually the ideas and<br>
                    one having an image of genious producing ideas from a thin air.<br>
                    But here is a place to find ideas, negotiate collaborations, get inspired,<br>
                    share your dreams or whatever you have on a wonderful mind.</h6>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}  
</body>
</html>