{% extends "index.html" %}
{% block content %}

    <div class="row center-align">
        <div class="col-8 center-align">
            <div class="card-panel">
                <h3 class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not You?
                <a href="{{ url_for('signin')}}">Sign In</a>
            </p>
        </div>
    </div>


{% endblock %}