{% extends "index.html" %}
{% block content %}

<!--username password and submit button taken from materialise and adjusted like in miniproject-->
    <h3 class="center-align">Register</h3>

    <div class="row center-align">
        <form class="col-8 center-align" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button type="submit" class="col s12 btn-large">Register</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}